.name{
  font-size: 20px;
}
h1{
  text-align: center;
}
.button{
  padding: 10px;
  margin: 2px;
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;

}
.flex{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: black;
  align-self: center;
  max-width: auto;
}
.row{
  margin:6px;
}
.body{
background-color: darkgrey;
}
.fun{
  background-color: orange;
}
.box{
  padding-left: 30px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  text-align: center;
}
.equal{
  height: 50px;
  width: 139px;
  border-radius: 0;
}
.ext{
  background-color: darkgrey;
}
